.sidebar {
  width: 250px;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
}

.custom:hover{
  border-color: white;
}

.nav-link i {
  font-size: 1.2rem;
}

.sidebar.collapsed .nav-link span {
  display: none;
}

.sidebar.collapsed a img {
  display: none;
}
