<div class="d-flex">
  <!-- Sidebar -->
  <nav [ngClass]="{'collapsed': isCollapsed}" class="sidebar text-white vh-100 p-3" style="background-color: rgb(19, 20, 24);">
    <!-- Collapse Toggle Button -->
    <div class="d-flex mb-3" [ngClass]="{'justify-content-end': !isCollapsed, 'justify-content-start': isCollapsed}">
      <button class="btn btn-sm custom" style="background-color: rgb(19, 20, 24); color: white;" (click)="isCollapsed = !isCollapsed">
        <span *ngIf="!isCollapsed" class="bi bi-arrow-bar-left"></span>
        <span *ngIf="isCollapsed" class="bi bi-arrow-bar-right"></span>
      </button>
    </div>

    <!-- Logo -->
    <a href="#" class="d-flex align-items-center mb-3 text-white text-decoration-none"
      [ngClass]="{'justify-content-center': isCollapsed}">
      <img src="assets/logo.png" alt="Logo" class="me-2" style="height:50px;" *ngIf="!isCollapsed">
      <span class="fs-4" *ngIf="!isCollapsed">Branch International</span>
    </a>

    <hr>

    <!-- Nav Links -->
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-white d-flex align-items-center">
          <span class="me-2" *ngIf="!isCollapsed">Unresponded Messages</span>
          <i class="bi bi-chat-dots"></i>
        </a>
        <a routerLink="/respondedMessages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-white d-flex align-items-center">
          <span class="me-2" *ngIf="!isCollapsed">Responded Messages</span>
          <i class="bi bi-check-circle"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>